.main-login{
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.pict-main-login{
  width: 75%;
  height: 75%;
}

h1, h2{
  color: #F2F2F2;
  font-family: Cardo;
  letter-spacing: 4px;
  line-height: 44px;
  text-align: center;
}

input{
  border-radius: 3px;
  text-align: left;
  font-size: 64pt;
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-form-login{
  background-color: #1B263B;
}

.side-input-field{
  width: 26px;
  height: 26px;
}

.row-username{
  margin-top: 2%;
  margin-bottom: 2%;
}

.row-password{
    margin-bottom: 5%;
}
.pare2{
  width: 35%;
  height:  100px;
}

.h3-txt{
  color: #F2F2F2;
  font-family: Cardo;
  font-size: 34px;
  letter-spacing: 2px;
  
}
.h5-txt{
  color: #FEFEFE;
  font-family: Cardo;
  font-size: 23px;
  letter-spacing: 2px;
  opacity: 0.45;
}
.pare{
  width: 35%;
  height:  100px;
}
.txt-header{
  color: #030404;
  font-family: Domine;
  font-size: 39px;
  letter-spacing: 2px;
  line-height: 50px;
  width: 60%;
}